.botonEstilo {
  padding: 10px 20px;
  background-color: #000000;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.botonEstilo:hover {
  background-color: #03151a;
}
.botonEstilo:active {
  background-color: #03151a;
}
